<%= button_to [:activate_student, @student] do %>
  Activate <strong><%= @student.to_s %></strong>
<% end %>
"<form method="post" action="/users/:id/activate" class="button_to">
    <button type="submit">
      Activate <strong><%= @student.to_s %></strong>
    </button>
  </form>"


<%
=begin%>
 <%= button_to [:deactivate, @student] do %>
  Deactivate <strong><%= @student.to_s %></strong>
<% end %>
"<form method="post" action="/users/:id/activate" class="button_to">
    <button type="submit">
      Deactivate <strong><%= @student.to_s %></strong>
    </button>
  </form>" 
<%
=end%>